<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="CHEF" connectionString="Initial Catalog=kwarehouse;Data Source=ramsingh;Integrated Security=SSPI;Persist Security Info=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DumpPackageFileOnDisk" value="True"/>
    <add key="Database_Trusted_Connection" value="Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Auto Translate=False;Initial Catalog=[DataBase_Name];Data Source=[Server_Name]"/>
    <add key="Database_Standard_Connection" value="Provider=SQLNCLI11.1;User ID=[User_ID];Password=[User_Password];Initial Catalog=[DataBase_Name];Data Source=[Server_Name];Encrypt=[Encryption];TrustServerCertificate=False"/>
  </appSettings>
</configuration>

